* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
}
/**/
.text-white {
  color: #fff !important;
}
.mt-8px {
  margin-top: 8px !important;
}
.mt-16px {
  margin-top: 16px !important;
}
.pull-right {
  float: right;
}
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav .subnav {
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}
#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}
#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}
#header .mobile-menu-btn:hover {
  background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}
#nav .nav-arrow-down {
  font-size: 14px;
}

#slider {
  margin-top: 46px;
  padding-top: 56%;
  background-image: url("../img/neymar2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#slider .text-content {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
#slider .text-description {
  font-size: 15px;
  padding: 25px;
}

#content .content-section {
  width: 800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}
#content .section-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
}
#content .section-sub-heading {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
  text-align: center;
  margin-top: 25px;
}

#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  display: flex;
  justify-content: space-around;
}
#content .member-name {
  margin: 15px 0;
  text-align: center;
}
#content .member-img {
  border-radius: 5px;
  width: 154px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#content .content-tour {
  background-color: #000;
}
#content .ticket-list {
  background-color: #fff;
  margin-top: 40px;
}

.ticket-list li {
  font-size: 15px;
  padding: 16px 11px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}
.ticket-list .sold-out {
  background-color: rgb(244, 67, 54);
  color: #fff;
  padding: 0 8px;
  margin-left: 16px;
}

.ticket-list .quanlity {
  float: right;
  height: 24px;
  width: 24px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3;
}
.container {
  margin: 30px 0;
}
.place-list {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}
.place-img {
}
.place-body {
  padding: 0 15px;
}
.place-heading {
  margin: 15px 0;
}
.place-time {
  margin: 15px 0;
}
.place-des {
  margin: 15px 0;
  opacity: 0.6;
}
.btn {
  margin: 15px 0;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  margin-bottom: 15px;
  display: inline-block;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
  color: #000;
}
.place-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  font-size: 15px;
  margin: 15px 0;
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.map-section img {
  width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
.social-list {
  font-size: 24px;
}
.social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.social-list a:hover,
.copyright a:hover {
  opacity: 0.6;
}
.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.copyright a {
  color: rgba(0, 0, 0, 0.6);
}
